@import "_normalize";
$Ob: 'OpenSans-Bold';
$Oi: 'OpenSans-Italic';
$Ol: 'OpenSans-Light';
$O: 'OpenSans-Regular';
$Osb: 'OpenSans-SemiBold';
$Dinb: 'DINPro-CondensedBold';
$Din: 'DINPro-CondensedRegular';
$Pb: 'Philosopher-Bold';
$PN: 'Philosopher';
$DN: 'DIN Pro Condensed';
$ON: 'Open Sans';

$normal: normal;
$italic: italic;
$bold: bold;
$semibold: 600;
$medium: 500;
$heavy: 800;
$black: 900;
$light: 300;
$browser-context: 16; // Default
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
    //font-size: rem(VAR);
}
$shadow:0 0 8px rgba(0, 0, 0, 0.2);
$dir:'../fonts/';
$bg-color:rgba(18,74,105,0.35);
$wt:#fff;
$bk:#000;
$accent-color:rgba(158,11,15,0.5);
$ttl-fz:25px;
$input-color:#124a6b;
$fz: rem(16);
$btn-color: #9e0b0f;
$link-color: #000;


@mixin font($fontname, $fweight, $fstyle, $fontfamily){
    @font-face {
        font-family: $fontfamily;
        src: url($dir+$fontname+'.eot');
        src: url($dir+$fontname+'.eot') format("eot"),
             url($dir+$fontname+'.ttf') format("truetype");
        font-weight: $fweight;
        font-style: $fstyle;
    }
}
@mixin trans(){
    transition: all 0.4s;
}
@include font($Ob, $bold, $normal, $ON);
@include font($Oi, $normal, $italic, $ON);
@include font($Ol, $light, $normal, $ON);
@include font($O, $normal, $normal, $ON);
@include font($Osb, $semibold, $normal, $ON);
@include font($Dinb, $semibold, $normal, $DN);
@include font($Din, $normal, $normal, $DN);
@include font($Pb, $bold, $normal, $PN);
input::-webkit-input-placeholder {
  color: $wt;
  font-size: rem(16);
}
input::-moz-placeholder {
  color: $wt;
  font-size: rem(16);
}
input:-moz-placeholder {
  color: $wt;
  font-size: rem(16);
}
input:-ms-input-placeholder {
  color: $wt;
  font-size: rem(16);
}
textarea::-webkit-input-placeholder {
  color: $wt;
  font-size: rem(16);
}
textarea::-moz-placeholder {
  color: $wt;
  font-size: rem(16);
}
textarea:-moz-placeholder {
  color: $wt;
  font-size: rem(16);
}
textarea:-ms-input-placeholder {
  color: $wt;
  font-size: rem(16);
}
input:focus, textarea:focus{
    border-color: #2172a2 !important;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  height: 50px;
  box-shadow: 0px 1px 1px #fff inset;
  background-color: #EFEFEF;
  z-index: 999;
  background-image: url("../img/polsun.png");
  background-position: center;
  background-repeat: no-repeat;
}
::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 11px;
}
body { 
    font-family: $ON, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: #ffffff;
    height: 100%;
    position: relative;
    font-size: $fz;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.ttl{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    h1{
        font-size: rem(42);
        font-weight: bold;
    }
    h2{
        font-size: rem(25);
        font-weight: 600;
        line-height: rem(26);
    }
    h3{
        font-size: rem(18);
        font-weight: 600;
    }
}
.main-ttl{
    h1{
        color: $wt;
        font-family: Philosopher;
        font-weight: bold;
        line-height: rem(45);
    }
}
.offer{
    font-size: 14px;
    line-height: 1.5;
}
.btn{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    button{
          background: $btn-color;
          min-width: 200px;
          display: inline-block;
          font-family: 'interstate', monospace;
          color: $wt;
          font-size: rem(16);
          font-family: $ON;
          border: none;
          text-align: center;
          text-decoration: none;
          position: relative;
          z-index: 1;
          height: 35px;
          border-radius: 17px;
          overflow: hidden;
          box-shadow: 0 0 0 3px rgba(0,0,0,0.2);;
          transition: box-shadow 6s;
          
          &:after,
          &:before {
            content: '';
            position: absolute;
            left: -50%;
            right: -50%;
            height: 0;
            padding-bottom: 200%;
            background: #7b171a;
            top: 0;
            z-index: -1;
            border-radius: 230px;
            transition: transform 1.5s, background 6s;
          }
          
          &:after {
            border-top-right-radius: 40%;
            border-bottom-left-radius: 40%;
            transform: translate3d(-5%,6em,0) rotate(-45deg);
          }
          
          &:before {
            border-bottom-right-radius: 40%;
            border-top-left-radius: 40%;
            transform: translate3d(5%,6em,0) rotate(0deg);
          }
          
          &:hover,
          &:focus {
            box-shadow: 0 0 50px -5px darken($btn-color, 20%);
            
            &:before,
            &:after {
              transform: translate3d(0,-5em,0) rotate(180deg);
              background: #7b171a;
            }
          }
    }
}
.marg-block{
    margin-top: 76px;
}
.marg-ttl{
    margin-top: 50px;
}
section{
    &.banner-screen{
        color:$wt;
        width: 100%;
        background:url(../img/bg-1.jpg);
        min-height: 750px;
        header{
            min-height: 80px;
            background:$accent-color;
            .logo-block{
                margin-top: 5px;
                .logo{

                }
                .name-company{
                    margin-left: 25px;
                    p:first-child{
                        font-family: $DN;
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 28px;
                    }
                    p{
                        font-family: $DN;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 23px;
                    }
                }
            }
            .nav-block{
                .phone-num{
                    justify-content: flex-end;
                    .ph{
                        a{
                            color: #ffffff;
                            font-family: "Open Sans";
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 21px;
                            @include trans();
                            &:hover{
                                color: #c4e4ff;
                                text-decoration: underline;
                            }
                        }
                        .ico{
                            margin-right: 8px;
                        }
                        
                    }
                    .call-back{
                        a{
                            color: #aba81d;
                            font-family: "Open Sans";
                            font-size: 15px;
                            font-weight: 600;
                            line-height: 18px;
                            border-bottom: 2px dashed #aba81d;
                            @include trans();
                            &:hover{
                                color: #f1ee60;
                                border-bottom: 2px dashed #f1ee60;
                            }
                        }
                    }
                    & > div:last-child{
                        padding-left: 22px;
                    }
                    & > div:first-child{
                        padding-right: 22px;
                        border-right: 1px solid #9e0b0f;
                    }
                }
                .main-menu{
                    margin-top: 10px;
                    nav{
                        position: relative;
                        
                        ul{
                            li{
                                list-style: none;
                                margin: 0 22px;
                                display: inline-block;
                                @include trans();
                                a{
                                    color: #ffffff;
                                    font-family: "Open Sans";
                                    line-height: 19px;
                                }
                                &:last-child{
                                    margin: 0;
                                }
                                position: relative;
                                &.active:before{
                                    position: absolute;
                                    content: "";
                                    left: 0;
                                    right: 0;
                                    bottom: -10px;
                                    height: 5px;
                                    background:#124a6b;
                                }
                                &:hover:before{
                                    position: absolute;
                                    content: "";
                                    left: 0;
                                    right: 0;
                                    bottom: -10px;
                                    height: 5px;
                                    background:#124a6b;
                                }
                            }
                        }
                    }
                }
            }
        }
        .one-screen-banner{
            .main-ttl{
                margin-top: 50px;
            }
            .forms-block{
                margin-top: 60px;
                .form-pol{
                    width: 50%;
                    min-height: 394px;
                    border-radius: 6px;
                    background-color: $bg-color;
                    margin-right: 15px;
                    padding: 35px 56px;
                    form{
                        display: flex;
                        flex-direction: column;
                        h2{
                            font-size: rem(22);
                        }
                        input{
                            width: 100%;
                            height: 35px;
                            border-radius: 5px;
                            border: 2px solid $input-color;
                            background-color: $input-color;
                            margin-bottom: 15px;
                            padding: 0 10px 0 60px;
                            color: $wt;
                            font-size: 16px;
                            font-family: $ON;
                        }
                        textarea{
                            width: 100%;
                            height: 108px;
                            border-radius: 5px;
                            border: 2px solid $input-color;
                            background-color: $input-color;
                            margin-bottom: 20px;
                            padding: 5px 10px 0 60px;
                            color: $wt;
                            font-size: 16px;
                            font-family: $ON;
                        }
                        fieldset{
                            position: relative;
                            span{
                                position: absolute;
                                top: 6px;
                                left: 20px;
                            }
                        }
                        .form-ttl{
                            margin-bottom: 35px;
                        }
                    }
                    &:first-child{
                        margin-right: 15px;
                    }
                    &:last-child{
                        margin-left: 15px;
                    }
                }
            }
            .info-block{
                .orders{
                    .desc{
                        h2{
                            font-family: "Open Sans";
                            font-size: 25px;
                            font-weight: 600;
                            line-height: 26px;
                            line-height: 1.9rem;
                        }
                    }
                    .num{
                        font-family: Philosopher;
                        font-size: 61px;
                        font-weight: 700;
                        line-height: 64px;
                        width: 159px;
                        height: 62px;
                        border-radius: 7px;
                        background-color: $input-color;
                        text-align: center;
                    }
                }
                .btn-info{
                    margin-top: 30px;
                    .btn{
                        button{
                            width: 100%;
                            height: 53px;
                            border-radius: 17px;
                            background-color: #9e0b0f;
                        }
                    }
                    .offer{
                        margin-top: 22px;
                    }
                }
                .btns{
                    margin-top: 60px;
                    .btn-fast{
                        button{
                            background:$wt;
                            color:$bk;
                            box-shadow: 0 0 50px -5px $wt;
                             &:after,
                              &:before {
                                content: '';
                                position: absolute;
                                left: -50%;
                                right: -50%;
                                height: 0;
                                padding-bottom: 200%;
                                background: #d8e9ff;
                                top: 0;
                                z-index: -1;
                                border-radius: 230px;
                                transition: transform 2.5s, background 6s;
                              }
                        }
                    }
                }
            }
        }
    }
    &.services{
        .service-flex{
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
        }
        .item{
            max-width: 395px;
            min-height: 519px;
            box-shadow: $shadow;
            border-radius: 5px;
            background-color: $wt;
            margin: 0 14px 30px 14px;
            text-align: center;
            padding: 40px 30px;
            .ico{
                img{}
            }
            .ttl{
                text-align: center;
                h3{}
            }
            .list{
                margin-top: 40px;
                ul{
                    text-align: left;
                    li{
                        font-weight: 300;
                        line-height: rem(24);
                        list-style: none;
                        position: relative;
                        margin-left: 33px;
                        margin-bottom: 15px;
                        &:before{
                            content:"";
                            position: absolute;
                            top: 5px;
                            left: -30px;
                            height: 13px;
                            width: 13px;
                            background:url(../img/mark.png)no-repeat;
                        }
                    }
                }
            }
        }
    }
    &.stock{
        .stock{
        &--ttl{
            padding-top: 30px;
            font-size: rem(44);
            font-weight: 600;
            line-height: rem(52);
        }
        &--desc{
            margin-top: 10px;
            font-size: rem(31);
            font-weight: 600;
            line-height: rem(36);
        }
        &--cost{
            margin-top: 25px;
            .price{
                font-size: rem(47);
                font-weight: 800;
                line-height: rem(55);
            }
            .no-price{
                color: #aba81d;
                font-size: rem(36);
                font-weight: 600;
                line-height: rem(42);
                text-decoration: line-through;
                margin-left: 30px;
            }
            .offer{
                font-size: rem(24);
            }
        }
        &--form{
            min-width: 640px;
        }
        }
        .flex-stock{
            display: flex;
            align-items: flex-end;
        }
    }
    &.stock-one{
        color: $wt;
        min-height: 299px;
        background-color: #0b0b0b;
        width: 100%;
        background: url(../img/stock1.jpg)repeat-y;
    }
    &.stock-two{
        color: $wt;
        min-height: 299px;
        background-color: #0b0b0b;
        width: 100%;
        background: url(../img/stock2.jpg)repeat-y;
    }
    &.advantages{
        .advantage{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-content: space-between;
        }
        .item{
            max-width: 625px;
            width: 100%;
            min-height: 180px;
            box-shadow: $shadow;
            border-radius: 6px;
            background-color: $wt;
            margin-bottom: 30px;
        }
        .item-l{
            position: relative;
            margin-right: 15px;
            p{
                max-width: 405px;
                margin-left: 188px;
                margin-top: 30px;
                padding-right: 20px;
                font-weight: 300;
                line-height: rem(26);
            }
            &:before{
                content: "";
                position: absolute;
                width: 130px;
                height: 130px;
                border-radius: 50%;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                top: 8px;
                left: 15px;
            }
            .step{
                position: absolute;
                font-size: rem(65);
                font-weight: 800;
                line-height: rem(60);
                left: 62px;
                top: 37px;
            }
        }
        .item-r{
            position: relative;
            margin-left: 15px;
            p{
                max-width: 405px;
                margin-right: 188px;
                margin-top: 30px;
                padding-left: 20px;
                text-align: right;
                font-weight: 300;
                line-height: rem(26);
            }
            &:before{
                content: "";
                position: absolute;
                width: 130px;
                height: 130px;
                border-radius: 50%;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                top: 8px;
                right: 15px;
            }
            .step{
                position: absolute;
                font-size: rem(65);
                font-weight: 800;
                line-height: rem(60);
                right: 62px;
                top: 37px;
            }
        }
    }
    &.successful{
        .all-good{
            .item{
                border-radius: 6px;
                background-color: #c1c1c0;
                margin: 0 10px;
                padding: 15px;
                padding-bottom: 7px;
                a{
                    img{
                        max-width: 276px;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
    &.block-progress{
        .circles{
            max-width: 1000px;
            display: flex;
            justify-content: space-around;
            margin: 0 auto;
            #circleOne, #circleTwo, #circleThree{
                width: 100px;
                height: 100px;
                position: relative;
            }
            .oplet{
                margin: 0 25px;
                min-width: 250px;
                font-weight: 300;
            }
        }
    }
    &.review{
        .rev{
            justify-content: center;
            .nav{
                max-width: 207px;
                width: 100%;
                height: 287px;
                box-shadow: $shadow;
                display: flex;
                justify-content: center;    
                align-items: center;
                cursor: pointer;
            }
            .prev-rev{
                box-shadow: -1px -2px 2px rgba(0,0,0,0.1), 
    -1px 2px 2px rgba(0,0,0,0.1);
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
            .next-rev{
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                img{
                    transform: rotate(180deg);
                }
            }
            .slider-rev{
                width: 100%;
                max-width: 768px;
                .item{
                    max-width: 786px;
                    min-height: 408px;
                    box-shadow: $shadow;
                    border-radius: 6px;
                    margin: 0 auto;
                    position: relative;
                    .ttl{
                        h3{}
                    }
                    .txt{
                        max-height: 250px;
                        overflow: auto;
                        margin-top: 35px;
                        p{
                            font-weight: 300;
                            line-height: 1.6;
                        }
                    }
                    .auhtor{
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        img{
                            
                        }
                    }
                    .oplet{
                        padding: 50px;
                        margin-right: 280px;
                    }
                }
            }
        }
    }
    &.contacts{
        .address-block{
            .addr{
                ul{
                    margin-top: 10px;
                    li{
                        list-style: none;
                        font-weight: 300;
                        position: relative;
                        &:before{
                            content:"— ";
                        }
                        a{
                            text-decoration: underline;
                            color: 0012ff;
                        }
                    }
                }
                margin-bottom: 30px;
            }
        }
        .map-block{
            
        }
    }
}
.recall{
    text-align: center;
    margin-top: 40px;
    .no-search{
        font-size: rem(30);
        line-height: 1.6;
        font-weight: bold;
    }
    .call-us{
        font-weight: 600;
        font-size: rem(24);
        a{
            text-decoration: underline;
        }
    }
}
.dezu{
    width: 100%;
    min-height: 147px;
    border-radius: 7px;
    background-color: $bg-color;
    padding: 30px 80px;
    .dj{
        font-size: rem(20);
        font-weight: 600; 
    }
    .num{
        img{
            margin-right: 15px;
        }
        a{
            color: $wt;
            font-weight: 600;
            font-size: rem(26);
            text-decoration: underline;
        }
    }
    .btn-dezu{
        margin-top: 25px;
    }
}
footer{
    text-align: center;
    color: $wt;
    .block-oplet{
        &:first-child{
            background-color: #00141f;
            min-height: 160px;
            .data{
                margin-top: 230px;
                padding-top: 20px;
                .logo{
                     display: flex;
                     align-items: center;
                    img{}
                    span{
                        margin-left: 25px;
                        font-family: $DN;
                        font-size: rem(24);
                        font-weight: 400;
                    }
                }
            }
            .main-menu{
                ul{
                    li{
                        display: inline-block;
                        margin: 0 15px;
                        a{
                            color: $wt;
                        }
                        &.active, &:hover{
                            border-bottom: 2px solid $wt;
                        }
                    }
                }
            }
            .phone{
                .img{}
                a{
                    color: $wt;
                    font-size: rem(18);
                    font-weight: 600;
                }
            }
        }
        min-height: 95px;
        background-color: #000c13;
        .offer{
            padding: 25px;
            p{
                font-size: 12px;
                color: #aac7d8;
                a{
                    color: $wt;
                    text-decoration: underline;
                }
            }
        }
        &:last-child{
            min-height: 62px;
            background-color: #000000;
            .copyright{
                padding: 15px 20px;
                p{
                    color: #515151;
                    font-size: 12px;
                    a{
                        color: #2ecc71;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

#menuToggle {
      overflow: hidden;
      position: relative;
      width: 50px;
      height: 45px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #menuToggle input {
      display: flex;
      width: 50px;
      height: 40px;
      position: absolute;
      cursor: pointer;
      opacity: 0; /* hide input */
      z-index: 1; /* top of the menu */
    }

    #menuToggle span{
      width: 50px;
      height: 8px;
      margin-bottom: 10px;
      background: #fff;
      border-radius: 4px;
      -webkit-transition: all .5s cubic-bezier(.08,.81,.87,.71);
      -moz-transition: all .5s cubic-bezier(.08,.81,.87,.71);
      -ms-transition: all .5s cubic-bezier(.08,.81,.87,.71);
      -o-transition: all .5s cubic-bezier(.08,.81,.87,.71);
      transition: all .5s cubic-bezier(.08,.81,.87,.71);
    }

    #span1 {
      transform-origin: 4px 0px;
    }

    #span3 {
      transform-origin: bottom right;
    }

    #menuToggle input:checked ~ #span1 {
      background-color: #7f8fa6;
      transform: rotate(45deg) translate(8px);
    }
    #menuToggle input:checked ~ #span2 {
      background-color: #7f8fa6;
      transform: rotate(495deg) translate(4px);   
    }
    #menuToggle input:checked ~ #span3 {
      background-color: #7f8fa6;
      transform: rotate(45deg);
      opacity: 0;
}
#menuToggle{
    display: none;
}




//vars
$bgcolor-form: #F4FCFF;
.window-modal{
    max-width: 550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 300px;
    border-radius: 10px;
    padding: 30px 25px;
    background: $bgcolor-form;
    form{
        .logo-form{
            display: flex;
            align-items: center;
            img{
                width: 65px;
                height: 49px;
            }
        }
        h2{
            text-align: center;
            font-size: 26px;
        }
        .flex-form{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            input{
                margin-bottom: 10px;
                height: 35px;
                width: 100%;
                color: #fff;
                font-size: rem(16);
                border: 1px solid #272727;
                border-radius: 3px;
                padding: 0 15px;
                background-color: rgb(18, 74, 107);
                
                &:first-child{
                    margin-top: 20px;
                }
            }
            .btn{
                margin-top: 35px;
                button{}
            }
        }
    }
}
.persd-sogl{
    margin: 15px 10px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    a{
        color: $link-color;
        text-decoration: underline;
    }
}
.map-block{
    max-width: 800px;
    width: 100%;
}
.scrollup {
    transition: all 0.3s ease-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: rgba(0, 0, 0, 0.6) url(../img/sprite.png) no-repeat 12px 14px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    z-index: 999;
    border-radius: 1px;
    justify-content: center;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}
.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
.slick-dots li button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #000;
    &:before{
        font-size: 0;
    }
}
.slick-dots li button[aria-selected='true']{
    border-color: $accent-color;
}




