@import "_normalize";
$Ob: 'OpenSans-Bold';
$Oi: 'OpenSans-Italic';
$Ol: 'OpenSans-Light';
$O: 'OpenSans-Regular';
$Osb: 'OpenSans-SemiBold';
$Dinb: 'DINPro-CondensedBold';
$Din: 'DINPro-CondensedRegular';
$Pb: 'Philosopher-Bold';
$PN: 'Philosopher';
$DN: 'DIN Pro Condensed';
$ON: 'Open Sans';


$normal: normal;
$italic: italic;
$bold: bold;
$semibold: 600;
$medium: 500;
$heavy: 800;
$black: 900;
$light: 300;
$browser-context: 16; // Default
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
    //font-size: rem(VAR);
}
$dir:'../fonts/';
$bg-color:rgba(18,74,105,0.35);
$wt:#fff;
$bk:#000;
$accent-color:rgba(158,11,15,0.5);
$ttl-fz:25px;
$fz: rem(16);
$btn-color: #9e0b0f;


@mixin font($fontname, $fweight, $fstyle, $fontfamily){
    @font-face {
        font-family: $fontfamily;
        src: url($dir+$fontname+'.eot');
        src: url($dir+$fontname+'.eot') format("eot"),
             url($dir+$fontname+'.ttf') format("truetype");
        font-weight: $fweight;
        font-style: $fstyle;
    }
}
@mixin trans(){
    transition: all 0.4s;
}
@include font($Ob, $bold, $normal, $ON);
@include font($Oi, $normal, $italic, $ON);
@include font($Ol, $light, $normal, $ON);
@include font($O, $normal, $normal, $ON);
@include font($Osb, $semibold, $normal, $ON);
@include font($Dinb, $semibold, $normal, $DN);
@include font($Din, $normal, $normal, $DN);
@include font($Pb, $bold, $normal, $PN);



body { 
    font-family: $ON, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: #ffffff;
    height: 100%;
    position: relative;
    font-size: $fz;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.ttl{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    h1{
        font-size: rem(52);
        font-weight: bold;
    }
    h2{
        font-size: rem(25);
        font-weight: bold;
    }
    h3{
        font-size: rem(18);
        font-weight: bold;
    }
}
.btn{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    button{
        font-size: rem(16);
        font-weight: 600;
    }
}

section{
    &.banner-screen{
        color:$wt;
        width: 100%;
        background:url(../img/bg-1.jpg);
        min-height: 750px;
        header{
            min-height: 80px;
            background:$accent-color;
            .logo-block{
                margin-top: 5px;
                .logo{

                }
                .name-company{
                    margin-left: 25px;
                    p:first-child{
                        font-family: $DN;
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 28px;
                    }
                    p{
                        font-family: $DN;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 23px;
                    }
                }
            }
            .nav-block{
                .phone-num{
                    justify-content: flex-end;
                    .ph{
                        a{
                            color: #ffffff;
                            font-family: "Open Sans";
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 21px;
                            @include trans();
                            &:hover{
                                color: #c4e4ff;
                                text-decoration: underline;
                            }
                        }
                        .ico{
                            margin-right: 8px;
                        }
                        
                    }
                    .call-back{
                        a{
                            color: #aba81d;
                            font-family: "Open Sans";
                            font-size: 15px;
                            font-weight: 600;
                            line-height: 18px;
                            border-bottom: 2px dashed #aba81d;
                            @include trans();
                            &:hover{
                                color: #f1ee60;
                                border-bottom: 2px dashed #f1ee60;
                            }
                        }
                    }
                    & > div:last-child{
                        padding-left: 22px;
                    }
                    & > div:first-child{
                        padding-right: 22px;
                        border-right: 1px solid #9e0b0f;
                    }
                }
                .main-menu{
                    margin-top: 10px;
                    nav{
                        ul{
                            li{
                                list-style: none;
                                margin: 0 22px;
                                display: inline-block;
                                @include trans();
                                a{
                                    color: #ffffff;
                                    font-family: "Open Sans";
                                    line-height: 19px;
                                }
                                &:last-child{
                                    margin: 0;
                                }
                                position: relative;
                                &.active:before{
                                    position: absolute;
                                    content: "";
                                    left: 0;
                                    right: 0;
                                    bottom: -10px;
                                    height: 5px;
                                    background:#124a6b;
                                }
                                &:hover:before{
                                    position: absolute;
                                    content: "";
                                    left: 0;
                                    right: 0;
                                    bottom: -10px;
                                    height: 5px;
                                    background:#124a6b;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}