@import "_normalize";
$Ob: 'OpenSans-Bold';
$Oi: 'OpenSans-Italic';
$Ol: 'OpenSans-Light';
$O: 'OpenSans-Regular';
$Osb: 'OpenSans-SemiBold';
$Dinb: 'DINPro-CondensedBold';
$Din: 'DINPro-CondensedRegular';
$Pb: 'Philosopher-Bold';
$PN: 'Philosopher';
$DN: 'DIN Pro Condensed';
$ON: 'Open Sans';

$normal: normal;
$italic: italic;
$bold: bold;
$semibold: 600;
$medium: 500;
$heavy: 800;
$black: 900;
$light: 300;
$browser-context: 16; // Default
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
    //font-size: rem(VAR);
}
$shadow:0 0 8px rgba(0, 0, 0, 0.2);
$dir:'../fonts/';
$bg-color:rgba(18,74,105,0.35);
$wt:#fff;
$bk:#000;
$accent-color:rgba(158,11,15,0.5);
$ttl-fz:25px;
$input-color:#124a6b;
$fz: rem(16);
$btn-color: #9e0b0f;


@mixin font($fontname, $fweight, $fstyle, $fontfamily){
    @font-face {
        font-family: $fontfamily;
        src: url($dir+$fontname+'.eot');
        src: url($dir+$fontname+'.eot') format("eot"),
             url($dir+$fontname+'.ttf') format("truetype");
        font-weight: $fweight;
        font-style: $fstyle;
    }
}
@mixin trans(){
    transition: all 0.4s;
}
@include font($Ob, $bold, $normal, $ON);
@include font($Oi, $normal, $italic, $ON);
@include font($Ol, $light, $normal, $ON);
@include font($O, $normal, $normal, $ON);
@include font($Osb, $semibold, $normal, $ON);
@include font($Dinb, $semibold, $normal, $DN);
@include font($Din, $normal, $normal, $DN);
@include font($Pb, $bold, $normal, $PN);
input::-webkit-input-placeholder {
  color: $wt;
  font-size: rem(16);
}
input::-moz-placeholder {
  color: $wt;
  font-size: rem(16);
}
input:-moz-placeholder {
  color: $wt;
  font-size: rem(16);
}
input:-ms-input-placeholder {
  color: $wt;
  font-size: rem(16);
}
textarea::-webkit-input-placeholder {
  color: $wt;
  font-size: rem(16);
}
textarea::-moz-placeholder {
  color: $wt;
  font-size: rem(16);
}
textarea:-moz-placeholder {
  color: $wt;
  font-size: rem(16);
}
textarea:-ms-input-placeholder {
  color: $wt;
  font-size: rem(16);
}
input:focus, textarea:focus{
    border-color: #2172a2 !important;
}
body { 
    font-family: $ON, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: #ffffff;
    height: 100%;
    position: relative;
    font-size: $fz;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.ttl{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    h1{
        font-size: rem(52);
        font-weight: bold;
    }
    h2{
        font-size: rem(25);
        font-weight: 600;
        line-height: rem(26);
    }
    h3{
        font-size: rem(18);
        font-weight: 600;
    }
}
.main-ttl{
    h1{
        color: $wt;
        font-family: Philosopher;
        font-weight: bold;
        line-height: 55px;
    }
}
.offer{
    font-size: 14px;
    line-height: 1.5;
}
.btn{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    button{
          background: $btn-color;
          min-width: 200px;
          display: inline-block;
          font-family: 'interstate', monospace;
          color: $wt;
          font-size: rem(16);
          font-family: $ON;
          border: none;
          text-align: center;
          text-decoration: none;
          position: relative;
          z-index: 1;
          height: 35px;
          border-radius: 17px;
          overflow: hidden;
          box-shadow: 0 0 50px -5px $btn-color;
          transition: box-shadow 6s;
          
          &:after,
          &:before {
            content: '';
            position: absolute;
            left: -50%;
            right: -50%;
            height: 0;
            padding-bottom: 200%;
            background: #7b171a;
            top: 0;
            z-index: -1;
            border-radius: 230px;
            transition: transform 2.5s, background 6s;
          }
          
          &:after {
            border-top-right-radius: 40%;
            border-bottom-left-radius: 40%;
            transform: translate3d(-5%,6em,0) rotate(-45deg);
          }
          
          &:before {
            border-bottom-right-radius: 40%;
            border-top-left-radius: 40%;
            transform: translate3d(5%,6em,0) rotate(0deg);
          }
          
          &:hover,
          &:focus {
            box-shadow: 0 0 50px -5px darken($btn-color, 20%);
            
            &:before,
            &:after {
              transform: translate3d(0,-5em,0) rotate(180deg);
              background: #7b171a;
            }
          }
    }
}
.marg-block{
    margin-top: 76px;
}
.marg-ttl{
    margin-top: 50px;
}
section{
    &.banner-screen{
        color:$wt;
        width: 100%;
        background:url(../img/bg-1.jpg);
        min-height: 750px;
        header{
            min-height: 80px;
            background:$accent-color;
            .logo-block{
                margin-top: 5px;
                .logo{

                }
                .name-company{
                    margin-left: 25px;
                    p:first-child{
                        font-family: $DN;
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 28px;
                    }
                    p{
                        font-family: $DN;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 23px;
                    }
                }
            }
            .nav-block{
                .phone-num{
                    justify-content: flex-end;
                    .ph{
                        a{
                            color: #ffffff;
                            font-family: "Open Sans";
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 21px;
                            @include trans();
                            &:hover{
                                color: #c4e4ff;
                                text-decoration: underline;
                            }
                        }
                        .ico{
                            margin-right: 8px;
                        }
                        
                    }
                    .call-back{
                        a{
                            color: #aba81d;
                            font-family: "Open Sans";
                            font-size: 15px;
                            font-weight: 600;
                            line-height: 18px;
                            border-bottom: 2px dashed #aba81d;
                            @include trans();
                            &:hover{
                                color: #f1ee60;
                                border-bottom: 2px dashed #f1ee60;
                            }
                        }
                    }
                    & > div:last-child{
                        padding-left: 22px;
                    }
                    & > div:first-child{
                        padding-right: 22px;
                        border-right: 1px solid #9e0b0f;
                    }
                }
                .main-menu{
                    margin-top: 10px;
                    nav{
                        ul{
                            li{
                                list-style: none;
                                margin: 0 22px;
                                display: inline-block;
                                @include trans();
                                a{
                                    color: #ffffff;
                                    font-family: "Open Sans";
                                    line-height: 19px;
                                }
                                &:last-child{
                                    margin: 0;
                                }
                                position: relative;
                                &.active:before{
                                    position: absolute;
                                    content: "";
                                    left: 0;
                                    right: 0;
                                    bottom: -10px;
                                    height: 5px;
                                    background:#124a6b;
                                }
                                &:hover:before{
                                    position: absolute;
                                    content: "";
                                    left: 0;
                                    right: 0;
                                    bottom: -10px;
                                    height: 5px;
                                    background:#124a6b;
                                }
                            }
                        }
                    }
                }
            }
        }
        .one-screen-banner{
            .main-ttl{
                margin-top: 50px;
            }
            .forms-block{
                margin-top: 60px;
                .form-pol{
                    width: 50%;
                    min-height: 394px;
                    border-radius: 6px;
                    background-color: $bg-color;
                    margin-right: 15px;
                    padding: 35px 56px;
                    form{
                        display: flex;
                        flex-direction: column;
                        h2{

                        }
                        input{
                            width: 100%;
                            height: 35px;
                            border-radius: 5px;
                            border: 2px solid $input-color;
                            background-color: $input-color;
                            margin-bottom: 15px;
                            padding: 0 10px 0 60px;
                            color: $wt;
                            font-size: 16px;
                            font-family: $ON;
                        }
                        textarea{
                            width: 100%;
                            height: 108px;
                            border-radius: 5px;
                            border: 2px solid $input-color;
                            background-color: $input-color;
                            margin-bottom: 20px;
                            padding: 5px 10px 0 60px;
                            color: $wt;
                            font-size: 16px;
                            font-family: $ON;
                        }
                        fieldset{
                            position: relative;
                            span{
                                position: absolute;
                                top: 6px;
                                left: 20px;
                            }
                        }
                        .form-ttl{
                            margin-bottom: 35px;
                        }
                    }
                    &:first-child{
                        margin-right: 15px;
                    }
                    &:last-child{
                        margin-left: 15px;
                    }
                }
            }
            .info-block{
                .orders{
                    .desc{
                        h2{
                            font-family: "Open Sans";
                            font-size: 25px;
                            font-weight: 600;
                            line-height: 26px;
                            line-height: 1.9rem;
                        }
                    }
                    .num{
                        font-family: Philosopher;
                        font-size: 61px;
                        font-weight: 700;
                        line-height: 64px;
                        width: 159px;
                        height: 62px;
                        border-radius: 7px;
                        background-color: $input-color;
                        text-align: center;
                    }
                }
                .btn-info{
                    margin-top: 30px;
                    .btn{
                        button{
                            width: 100%;
                            height: 53px;
                            border-radius: 17px;
                            background-color: #9e0b0f;
                        }
                    }
                    .offer{
                        margin-top: 22px;
                    }
                }
                .btns{
                    margin-top: 60px;
                    .btn-fast{
                        button{
                            background:$wt;
                            color:$bk;
                            box-shadow: 0 0 50px -5px $wt;
                             &:after,
                              &:before {
                                content: '';
                                position: absolute;
                                left: -50%;
                                right: -50%;
                                height: 0;
                                padding-bottom: 200%;
                                background: #d8e9ff;
                                top: 0;
                                z-index: -1;
                                border-radius: 230px;
                                transition: transform 2.5s, background 6s;
                              }
                        }
                    }
                }
            }
        }
    }
    &.services{
        .service-flex{
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
        }
        .item{
            max-width: 395px;
            min-height: 519px;
            box-shadow: $shadow;
            border-radius: 5px;
            background-color: $wt;
            margin: 0 14px 30px 14px;
            text-align: center;
            padding: 40px 30px;
            .ico{
                img{}
            }
            .ttl{
                text-align: center;
                h3{}
            }
            .list{
                margin-top: 40px;
                ul{
                    text-align: left;
                    li{
                        font-weight: 300;
                        line-height: rem(24);
                        list-style: none;
                        position: relative;
                        margin-left: 33px;
                        margin-bottom: 15px;
                        &:before{
                            content:"";
                            position: absolute;
                            top: 5px;
                            left: -30px;
                            height: 13px;
                            width: 13px;
                            background:url(../img/mark.png)no-repeat;
                        }
                    }
                }
            }
        }
    }
}
